@page

@using DemoApp.Pages.BarberAppointmentModel

@model BarberAppointmentModel

<script src="~/js/barber-appointment.js" asp-append-version="true"></script>

<form id="myform">

    <input id="hfXFormerAQN" type="hidden" value="@Model.XformerAQN" />
    <input id="hfDtoJSON" type="hidden" value="@Model.XformerDtoJSON" />

    <div>
        <label id="theLabel" for="txtName">Your name</label>
        <input type="text" id="txtName" placeholder="Your name" />
    </div>

    <div>
        <label for="dlApptDay">Preferred appointment day</label>
        <select id="dlApptDay">
            <optgroup label="Choose day">
                <option value="0"></option>
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
                <option value="7">Sunday</option>
            </optgroup>
        </select>
    </div>

    <div>
        <label for="dlOtherDays">Alternative days</label>
        <select id="dlOtherDays" multiple>
            <optgroup label="Choose day">
                <option value="0"></option>
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
                <option value="7">Sunday</option>
            </optgroup>
        </select>
    </div>

    <div>
        <label for="txtNotes">Notes for the stylist</label>
        <textarea id="txtNotes" rows="8" cols="40" placeholder="Notes"></textarea>
    </div>

    <div>
        <label for="chkParallelPetGrooming">Parallel pet grooming service?</label>
        <input type="checkbox" id="chkParallelPetGrooming" checked />
    </div>

    <div>
        <button id="btnBookNow" class="">Book now</button>
    </div>

</form>

