@page

@using DemoApp.Pages

@model IndexModel

<script src="~/js/index.js" asp-append-version="true"></script>

<a href="BarberAppointment">Barber Appointment</a>

<hr />

<div style="display: flex;">

    <div>
        <h2>MyTestCompBuilder / MyTestComp</h2>
        <input id="hf_MyTestCompBuilder_UN" type="hidden" value="MyTestCompUniqueName" />
        <input id="hf_MyTestCompBuilder_AQN" type="hidden" value="@Model.MyTestCompBuilder.AssemblyQualifiedName" />
        <span id="MyTestComp_Placeholder"></span>
    </div>

    <div>
        <h2>RegistrationFormCompBuilder / RegistrationFormComp</h2>
        <input id="hf_RegistrationFormComp_UN" type="hidden" value="RegistrationFormComp" />
        <input id="hf_RegistrationFormComp_AQN" type="hidden" value="@Model.RegistrationFormCompBuilder.AssemblyQualifiedName" />
        <span id="RegistrationFormComp_Placeholder"></span>
    </div>

</div>








